<div class="chart-box w-md w-max-md company-card bg p-6 rounded-lg shadow-lg">
  <div class="header mb-4">
    <h1 class="chart-text text-2xl font-bold mb-2">
      {{ company()?.denominationUniteLegale ?? 'Inconnu' }}
    </h1>
    <p class="text-sm text-gray-400">
      Créé le :
      <span class="text-gray-300">
        {{ company()?.dateCreationEtablissement ? (company()?.dateCreationEtablissement | date : 'longDate' : 'fr') : 'Inconnu' }}
      </span>
    </p>
  </div>
  <hr class="border-gray-600 mb-4" />
  <div class="space-y-2">
    <p class="chart-secondary-data">
      <span>Adresse : </span>
      <span>{{ company()?.adresseEtablissement ?? 'Inconnu' }}</span>
    </p>
    <p class="chart-secondary-data">
      <span>SIREN : </span>
      <span>{{ company()?.siren ?? 'Inconnu' }}</span>
    </p>
    <p class="chart-secondary-data">
      <span>SIRET : </span>
      <span>{{ company()?.siret ?? 'Inconnu' }}</span>
    </p>
    <p class="chart-secondary-data">
      <span>Catégorie d'entreprise : </span>
      <span>{{ company()?.categorieEntreprise ?? 'Inconnu' }}</span>
    </p>
    <p class="chart-secondary-data">
      <span>Activité principale : </span>
      <span>{{ company()?.activitePrincipaleUniteLegale ?? 'Inconnu' }}</span>
    </p>
    <p class="chart-secondary-data">
      <span>Catégorie juridique : </span>
      <span>{{ company()?.categorieJuridiqueUniteLegale ?? 'Inconnu' }}</span>
    </p>
  </div>
</div>
