<div class="w-md">
  <ul class="flex flex-col gap-3">
    @for(item of companyListTreated(); track item.siret){
    <li (click)="this.handleClick.emit(item)"><app-company-item [item]="item"> </app-company-item></li>
    }
  </ul>
  <hr class="my-3" />
  <div class="flex justify-center items-center gap-2">
    @for(page of pagesDisplayed(); track page){
    <div
      (click)="pageSelected.set(page)"
      [class.chart-box-activ]="page === this.pageSelected()"
      class="chart-box flex items-center justify-center w-8 h-8 border rounded-md cursor-pointer transition-colors"
    >
      <span class="text-sm font-medium chart-title">{{ page }}</span>
    </div>
    }
  </div>
</div>
